{% trans_default_domain global_theme %}
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ (sectionName~'.heading')|trans }}</h2>
                <p class="lead">{{ (sectionName~'.subheading')|trans }}</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>