{% trans_default_domain global_theme %}

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>{{ 'header.punch_phrase_1'|trans|raw }}</h1>
        <h3>{{ 'header.punch_phrase_2'|trans|raw }}</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">{{ 'header.tell_me_more'|trans }}</a>
    </div>
</header>