{% trans_default_domain global_theme %}
<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ (sectionName~'.heading')|trans }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>{{ (sectionName~'.subheading1')|trans }}</p>
            </div>
            <div class="col-lg-4">
                <p>{{ (sectionName~'.subheading2')|trans }}</p>
            </div>

        </div>
    </div>
</section>