{% trans_default_domain global_theme %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ 'header.punch_phrase_1'|trans|raw }}</div>
            <div class="intro-heading">{{ 'header.punch_phrase_2'|trans|raw }}</div>
            <a href="#services" class="page-scroll btn btn-xl">{{ 'header.tell_me_more'|trans }}</a>
        </div>
    </div>
</header>